
- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [9]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from functions_variables import encode_tags

In [10]:
'''
path = '../data/raw_json_files/AK_Juneau_0.json'
with open(path, 'r') as file:
    file1 = json.load(file)
data = pd.json_normalize(file1['data']['results'])
'''
# This code is not needed
# load one file first to see what type of data you're dealing with and what attributes it has

"\npath = '../data/raw_json_files/AK_Juneau_0.json'\nwith open(path, 'r') as file:\n    file1 = json.load(file)\ndata = pd.json_normalize(file1['data']['results'])\n"

At this point, ensure that you have all sales in a dataframe.
- Is each cell one value, or do some cells have lists?
- Maybe the "tags" will help create some features.
- What are the data types of each column?
- Some sales may not actually include the sale price.  These rows should be dropped.
- Some sales don't include the property type.
- There are a lot of None values.  Should these be dropped or replaced with something?

In [11]:
# Combine all json files

import glob

json_directory = '../data/raw_json_files'

json_file_paths = glob.glob(os.path.join(json_directory, '*.json'))
data = pd.DataFrame()

for path in json_file_paths:
    with open(path, 'r') as file:
        jsonfile = json.load(file)
    newdata = pd.json_normalize(jsonfile['data']['results'])
    data = pd.concat([newdata, data])

In [12]:
data.columns

Index(['last_update_date', 'tags', 'permalink', 'status', 'list_date',
       'open_houses', 'branding', 'list_price', 'property_id', 'photos',
       'community', 'virtual_tours', 'listing_id', 'price_reduced_amount',
       'matterport', 'primary_photo.href', 'source.plan_id', 'source.agents',
       'source.spec_id', 'source.type', 'description.year_built',
       'description.baths_3qtr', 'description.sold_date',
       'description.sold_price', 'description.baths_full', 'description.name',
       'description.baths_half', 'description.lot_sqft', 'description.sqft',
       'description.baths', 'description.sub_type', 'description.baths_1qtr',
       'description.garage', 'description.stories', 'description.beds',
       'description.type', 'lead_attributes.show_contact_an_agent',
       'flags.is_new_construction', 'flags.is_for_rent',
       'flags.is_subdivision', 'flags.is_contingent', 'flags.is_price_reduced',
       'flags.is_pending', 'flags.is_foreclosure', 'flags.is_plan',
       'flags.is_coming_soon', 'flags.is_new_listing', 'products.brand_name',
       'other_listings.rdc', 'location.address.postal_code',
       'location.address.state', 'location.address.coordinate.lon',
       'location.address.coordinate.lat', 'location.address.city',
       'location.address.state_code', 'location.address.line',
       'location.street_view_url', 'location.county.fips_code',
       'location.county.name', 'primary_photo', 'source', 'products',
       'other_listings', 'location.address.coordinate', 'location.county',
       'community.advertisers', 'community.description.name'],
      dtype='object')

In [ ]:
# load and concatenate data here
# drop or replace values as necessary

In [13]:
def selectcolumns(new_column_names, selected_columns, data): # adds selected columns into new dataframe
    dataframe = pd.DataFrame()
    for i in range(len(selected_columns)):
        dataframe[f'{new_column_names[i]}'] = data[f'{selected_columns[i]}']
    return dataframe

selected_columns = ['description.year_built', 'description.sqft', 'description.baths', 'description.stories',
                    'description.beds', 'description.garage', 'description.type', 'flags.is_foreclosure',
                    'location.address.city', 'tags', 'list_price']

new_column_names = ['year_built', 'sqft', 'baths', 'stories', 'beds', 'garage', 'type', 'is_foreclosure',
                    'city', 'tags', 'price']

dataframe = selectcolumns(new_column_names, selected_columns, data)

In [14]:
dataframe

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,tags,price
0,1993.0,1926.0,2.0,1.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, community_golf, community_spa_or...",269000.0
1,2004.0,2298.0,3.0,2.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, dining_room, fireplace, forced_a...",310000.0
2,2003.0,2376.0,2.0,2.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, community_security_features, din...",385000.0
3,1986.0,936.0,2.0,2.0,2.0,1.0,condos,None,Indianapolis,"[central_air, community_spa_or_hot_tub, dining...",169900.0
4,2003.0,3240.0,3.0,2.0,4.0,2.0,single_family,None,Indianapolis,"[city_view, community_park, community_spa_or_h...",310000.0
...,...,...,...,...,...,...,...,...,...,...,...
37,1988.0,1488.0,3.0,2.0,3.0,2.0,single_family,None,Harrisburg,"[central_air, disability_features, forced_air,...",229995.0
38,1989.0,4733.0,4.0,4.0,4.0,2.0,single_family,None,Harrisburg,"[central_air, dining_room, disability_features...",749900.0
39,1995.0,2341.0,3.0,2.0,3.0,2.0,single_family,None,Harrisburg,"[central_air, dishwasher, fireplace, forced_ai...",459900.0
40,1900.0,2601.0,3.0,3.0,3.0,NaN,townhomes,None,Harrisburg,"[central_air, forced_air, view, water_view, ba...",235000.0
41,1923.0,1440.0,1.0,2.0,3.0,NaN,townhomes,None,Harrisburg,"[disability_features, dishwasher, washer_dryer...",129900.0

In [15]:
dataframe.to_csv('../data/raw_merged_df_data.csv')

In [16]:
dataframe.isnull().sum()

year_built         875
sqft               868
baths              211
stories           1931
beds               687
garage            3743
type                66
is_foreclosure    8149
city                37
tags               553
price              470
dtype: int64

In [17]:
dataframe.describe()

,year_built,sqft,baths,stories,beds,price
count,7316.000000,7323.000000,7980.000000,6260.000000,7504.000000,7.721000e+03
mean,1968.916074,1933.848559,2.131203,1.567732,3.208289,4.341582e+05
std,35.096914,1339.039206,1.175940,0.730969,1.282732,5.514925e+05
min,1828.000000,120.000000,0.000000,1.000000,0.000000,1.000000e+00
25%,1950.000000,1258.000000,1.000000,1.000000,3.000000,2.090000e+05
50%,1975.000000,1635.000000,2.000000,1.000000,3.000000,3.250000e+05
75%,1997.000000,2264.000000,3.000000,2.000000,4.000000,4.999000e+05
max,2024.000000,32106.000000,9.000000,10.000000,12.000000,1.250000e+07

In [18]:
# removing nulls

dataframe = dataframe[(dataframe['price'] > 0) &
                      (dataframe['sqft'] > 0) &
                      (dataframe['year_built'] > 0) &
                      (dataframe['baths'] > 0) &
                      (dataframe['stories'] > 0) &
                      (dataframe['beds'] > 0) &
                      (dataframe['price'] > 0)]

In [19]:
dataframe

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,tags,price
0,1993.0,1926.0,2.0,1.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, community_golf, community_spa_or...",269000.0
1,2004.0,2298.0,3.0,2.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, dining_room, fireplace, forced_a...",310000.0
2,2003.0,2376.0,2.0,2.0,3.0,2.0,single_family,None,Indianapolis,"[central_air, community_security_features, din...",385000.0
3,1986.0,936.0,2.0,2.0,2.0,1.0,condos,None,Indianapolis,"[central_air, community_spa_or_hot_tub, dining...",169900.0
4,2003.0,3240.0,3.0,2.0,4.0,2.0,single_family,None,Indianapolis,"[city_view, community_park, community_spa_or_h...",310000.0
...,...,...,...,...,...,...,...,...,...,...,...
37,1988.0,1488.0,3.0,2.0,3.0,2.0,single_family,None,Harrisburg,"[central_air, disability_features, forced_air,...",229995.0
38,1989.0,4733.0,4.0,4.0,4.0,2.0,single_family,None,Harrisburg,"[central_air, dining_room, disability_features...",749900.0
39,1995.0,2341.0,3.0,2.0,3.0,2.0,single_family,None,Harrisburg,"[central_air, dishwasher, fireplace, forced_ai...",459900.0
40,1900.0,2601.0,3.0,3.0,3.0,NaN,townhomes,None,Harrisburg,"[central_air, forced_air, view, water_view, ba...",235000.0
41,1923.0,1440.0,1.0,2.0,3.0,NaN,townhomes,None,Harrisburg,"[disability_features, dishwasher, washer_dryer...",129900.0

In [20]:
dataframe.isnull().sum()

year_built           0
sqft                 0
baths                0
stories              0
beds                 0
garage            2157
type                 0
is_foreclosure    5910
city                 5
tags                 0
price                0
dtype: int64

In [21]:
dataframe['type'].value_counts()

single_family    4385
condos            744
townhomes         533
multi_family      156
mobile            104
apartment          20
Name: type, dtype: int64

In [22]:
dataframe['stories'].value_counts()

1.0     3114
2.0     2361
3.0      419
4.0       25
6.0       16
10.0       6
8.0        1
Name: stories, dtype: int64

In [23]:
# changing all nulls to 0

dataframe['garage'].fillna(0, inplace=True)

/var/folders/3s/6lw377616q34kygz2k067bcr0000gn/T/ipykernel_10795/407070125.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['garage'].fillna(0, inplace=True)

In [24]:
# changing all nulls to False

dataframe['is_foreclosure'].fillna('False', inplace=True)

/var/folders/3s/6lw377616q34kygz2k067bcr0000gn/T/ipykernel_10795/516668076.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['is_foreclosure'].fillna('False', inplace=True)

In [25]:
dataframe.isnull().sum()

year_built        0
sqft              0
baths             0
stories           0
beds              0
garage            0
type              0
is_foreclosure    0
city              5
tags              0
price             0
dtype: int64

In [26]:
# dropping last few nulls

dataframe.dropna(inplace=True)

/var/folders/3s/6lw377616q34kygz2k067bcr0000gn/T/ipykernel_10795/307274391.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.dropna(inplace=True)

In [27]:
dataframe.isnull().sum()

year_built        0
sqft              0
baths             0
stories           0
beds              0
garage            0
type              0
is_foreclosure    0
city              0
tags              0
price             0
dtype: int64

In [28]:
# Final removed Nulls Dataframe

dataframe

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,tags,price
0,1993.0,1926.0,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_golf, community_spa_or...",269000.0
1,2004.0,2298.0,3.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, dining_room, fireplace, forced_a...",310000.0
2,2003.0,2376.0,2.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_security_features, din...",385000.0
3,1986.0,936.0,2.0,2.0,2.0,1.0,condos,False,Indianapolis,"[central_air, community_spa_or_hot_tub, dining...",169900.0
4,2003.0,3240.0,3.0,2.0,4.0,2.0,single_family,False,Indianapolis,"[city_view, community_park, community_spa_or_h...",310000.0
...,...,...,...,...,...,...,...,...,...,...,...
37,1988.0,1488.0,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, disability_features, forced_air,...",229995.0
38,1989.0,4733.0,4.0,4.0,4.0,2.0,single_family,False,Harrisburg,"[central_air, dining_room, disability_features...",749900.0
39,1995.0,2341.0,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, dishwasher, fireplace, forced_ai...",459900.0
40,1900.0,2601.0,3.0,3.0,3.0,0.0,townhomes,False,Harrisburg,"[central_air, forced_air, view, water_view, ba...",235000.0
41,1923.0,1440.0,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,"[disability_features, dishwasher, washer_dryer...",129900.0

In [30]:
dataframe.describe()

,year_built,sqft,baths,stories,beds,garage,price
count,5937.000000,5937.000000,5937.00000,5937.000000,5937.000000,5937.000000,5.937000e+03
mean,1973.034866,1903.710965,2.34125,1.575206,3.168267,1.231935,4.743132e+05
std,33.017132,1033.747528,1.03140,0.737962,1.087860,1.117554,5.855405e+05
min,1828.000000,416.000000,1.00000,1.000000,1.000000,0.000000,1.950000e+04
25%,1955.000000,1280.000000,2.00000,1.000000,3.000000,0.000000,2.300000e+05
50%,1978.000000,1640.000000,2.00000,1.000000,3.000000,1.000000,3.550000e+05
75%,1999.000000,2264.000000,3.00000,2.000000,4.000000,2.000000,5.299000e+05
max,2024.000000,11218.000000,9.00000,10.000000,12.000000,9.000000,1.250000e+07

In [31]:
# Changing year_built into decades

bins = list(range(1820, 2031, 10))
labels = [i for i in bins[:-1]]

dataframe['year_built'] = pd.cut(dataframe['year_built'], bins=bins, labels=labels)

/var/folders/3s/6lw377616q34kygz2k067bcr0000gn/T/ipykernel_10795/2127883232.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['year_built'] = pd.cut(dataframe['year_built'], bins=bins, labels=labels)

In [33]:
# changing price into ranges

bins = list(range(0, 13000000, 200000))
labels = [i for i in bins[:-1]]

dataframe['price'] = pd.cut(dataframe['price'], bins=bins, labels=labels)

/var/folders/3s/6lw377616q34kygz2k067bcr0000gn/T/ipykernel_10795/1585690354.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['price'] = pd.cut(dataframe['price'], bins=bins, labels=labels)

In [34]:
# changing sqft into ranges

bins = list(range(0, 13000, 500))
labels = [i for i in bins[:-1]]

dataframe['sqft'] = pd.cut(dataframe['sqft'], bins=bins, labels=labels)

/var/folders/3s/6lw377616q34kygz2k067bcr0000gn/T/ipykernel_10795/1589956992.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['sqft'] = pd.cut(dataframe['sqft'], bins=bins, labels=labels)

In [35]:
# After changing Year_built, Sqft, Price Changes

dataframe

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,tags,price
0,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_golf, community_spa_or...",0
1,2000,2000,3.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, dining_room, fireplace, forced_a...",0
2,2000,2000,2.0,2.0,3.0,2.0,single_family,False,Indianapolis,"[central_air, community_security_features, din...",0
3,1980,500,2.0,2.0,2.0,1.0,condos,False,Indianapolis,"[central_air, community_spa_or_hot_tub, dining...",NaN
4,2000,3000,3.0,2.0,4.0,2.0,single_family,False,Indianapolis,"[city_view, community_park, community_spa_or_h...",0
...,...,...,...,...,...,...,...,...,...,...,...
37,1980,1000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, disability_features, forced_air,...",0
38,1980,4500,4.0,4.0,4.0,2.0,single_family,False,Harrisburg,"[central_air, dining_room, disability_features...",400000
39,1990,2000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,"[central_air, dishwasher, fireplace, forced_ai...",200000
40,1890,2500,3.0,3.0,3.0,0.0,townhomes,False,Harrisburg,"[central_air, forced_air, view, water_view, ba...",0
41,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,"[disability_features, dishwasher, washer_dryer...",NaN

In [46]:
#extracting tags
tags_df = dataframe['tags'].apply(pd.Series)
tags_df

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,central_air,community_golf,community_spa_or_hot_tub,dining_room,fireplace,forced_air,golf_course_view,recreation_facilities,view,single_story,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,central_air,dining_room,fireplace,forced_air,two_or_more_stories,garage_1_or_more,garage_2_or_more,community_swimming_pool,big_yard,fenced_yard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,central_air,community_security_features,dining_room,fireplace,forced_air,hardwood_floors,lake_view,view,water_view,two_or_more_stories,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,central_air,community_spa_or_hot_tub,dining_room,fireplace,lake_view,recreation_facilities,view,water_view,two_or_more_stories,garage_1_or_more,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,city_view,community_park,community_spa_or_hot_tub,den_or_office,dining_room,fireplace,forced_air,recreation_facilities,view,two_or_more_stories,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,central_air,disability_features,forced_air,basement,two_or_more_stories,garage_1_or_more,garage_2_or_more,efficient,new_roof,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,central_air,dining_room,disability_features,fireplace,forced_air,hardwood_floors,spa_or_hot_tub,basement,two_or_more_stories,garage_1_or_more,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,central_air,dishwasher,fireplace,forced_air,washer_dryer,basement,two_or_more_stories,garage_1_or_more,garage_2_or_more,waterfront,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,central_air,forced_air,view,water_view,basement,two_or_more_stories,waterfront,open_floor_plan,floor_plan,river_view,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,disability_features,dishwasher,washer_dryer,basement,two_or_more_stories,fenced_yard,front_porch,rental_property,efficient,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
tags_df.columns = [f'tag_{i}' for i in range(tags_df.shape[1])]
result_df = pd.concat([dataframe, tags_df], axis=1).drop(columns=['tags'])
result_df

,year_built,sqft,baths,stories,beds,garage,type,is_foreclosure,city,price,...,tag_21,tag_22,tag_23,tag_24,tag_25,tag_26,tag_27,tag_28,tag_29,tag_30
0,1990,1500,2.0,1.0,3.0,2.0,single_family,False,Indianapolis,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2000,3.0,2.0,3.0,2.0,single_family,False,Indianapolis,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,2000,2.0,2.0,3.0,2.0,single_family,False,Indianapolis,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1980,500,2.0,2.0,2.0,1.0,condos,False,Indianapolis,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,3000,3.0,2.0,4.0,2.0,single_family,False,Indianapolis,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,1980,1000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,1980,4500,4.0,4.0,4.0,2.0,single_family,False,Harrisburg,400000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1990,2000,3.0,2.0,3.0,2.0,single_family,False,Harrisburg,200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,1890,2500,3.0,3.0,3.0,0.0,townhomes,False,Harrisburg,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,1920,1000,1.0,2.0,3.0,0.0,townhomes,False,Harrisburg,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [ ]:
# OHE categorical variables here
# tags will have to be done manually

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE such as using central tendency?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- If you replace cities or states with numerical values, make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Drop columns that aren't needed.
- Don't keep the list price because it will be too close to the sale price.

In [ ]:
# perform train test split here
# do something with state and city
# drop any other not needed columns

**STRETCH**

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [ ]:
# import, join and preprocess new data here

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [ ]:
# perform EDA here

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized